
/* ====================
  Main Styles
=======================*/
html, body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
}
img {
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
	padding: 0;
	margin: 0;
}
p {
	font-size: 17px;
	color: #777777;
	line-height: 30px;
	font-family: "Poppins", sans-serif;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
li, ul {
	margin: 0;
	padding: 0;
}



/* ====================
  Common Styles
=======================*/
.pt100 {
	padding-top: 100px;
}
.pt50 {
	padding-top: 50px;
}
.pb100 {
	padding-bottom: 100px;
}
.pb50 {
	padding-bottom: 50px;
}
.pl50p {
	/*padding-left: 50%;*/
	left: 50%;
	top: 50%;
}
.pr50p {
	padding-right: 50%;
}
.mb100 {
	margin-bottom: 100px;
}
.mb70 {
	margin-bottom: 70px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb10 {
	margin-bottom: 10px;
}
.mt10 {
	margin-top: 10px;
}
.mt25 {
	margin-top: 25px;
}
.mt80 {
	margin-top: 80px;
}
.nopad {
	padding-left: 0;
	padding-right: 0;
}
.stitle {
	text-align: center;
}
.stitle h2 {
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: capitalize;
	color: #000;
	position: relative;
	display: inline-block;
	padding: 10px 25px;
}
.stitle h2:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: transparent;
	bottom: 0px;
	left: 0;
	border-radius: 37px;
	-webkit-box-shadow: 0px 20px 40px rgba(78, 78, 78, 0.06);
	        box-shadow: 0px 20px 40px rgba(78, 78, 78, 0.06);
}
.site-btn {
	position: relative;
	display: inline-block;
	color: #fff;
	padding: 14px 40px;
	border: none;
	font-family: "Poppins", sans-serif;
	line-height: normal;
	text-transform: uppercase;
	border-radius: 50px;
	font-size: 12px;
	letter-spacing: 1px;
	background: #333;
}
.site-btn:hover, .site-btn:focus {
	outline: none;
	color: #fff;
}
.site-btn.btn-light {
	background: #fff;
	color: #333;
	font-weight: bold;
}
.site-btn.btn-light:hover, .site-btn.btn-light:focus {
	color: #333;
}

/*------------------
	Preloder
--------------------*/
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #f7f7f7;
}
.loader {
	width: 50px;
	height: 50px;
	border: 4px solid #000000;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	border-left-color: #fff;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
	        box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}
@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
.clear{
	clear: both;
}
.main-warp {
	position: relative;
	z-index: 5;
	background: #fff;
}
.responsive {
	display: none;
}


/* ====================
  Header Section
=======================*/
.header-section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background: rgba(255, 255, 255, 0);
	padding: 15px 50px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.header-section .logo {
	display: inline-block;
	float: left;
}
.header-section .logo img {
	height: auto;
	width: auto;
	max-width: 70px;
	max-height: 70px;
	/*padding-left: 15px;*/
	margin-left: 40px;
	/*-webkit-transition: all 0.3s ease 0s;*/
	/*-o-transition: all 0.3s ease 0s;*/
	/*transition: all 0.3s ease 0s;*/
}
.header-section .menu-list {
	list-style: none;
	float: right;
	margin-top: 8px;
}
.header-section .menu-list li {
	display: inline;
}
.header-section .menu-list li a {
	display: inline-block;
	padding: 10px;
	color: #a0a0a0;
	position: relative;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.09em;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.header-section .menu-list li a:hover {
	color: #fff;
}
.header-section .menu-list .current a {
	color: #fff;
}
.header-section.sticky {
	position: fixed;
	background: #000;
	padding: 10px 30px;
}
.header-section.sticky .logo img {
	height: 55px;
}



/* ====================
  Intro Section
=======================*/
.intro-section {
	height: 100%;
	/*position: relative;*/
	overflow: hidden;
	z-index: 6;
}
.intro-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/*background: #0a0c17;*/
	background-image: url("../images/hk.png");
	background-size: 100% 100%;
}
#particles {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 6;
}
#round {
	position: absolute;
	top: 0;
	left: 0;
}
.intro-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	display: table;
}
.intro-inner .intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.intro-inner .intro-content .profile-img {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid #fff;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.61);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.61);
	position: relative;
	z-index: 9;
}
.intro-inner .intro-content h2 {
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: #fff;
	margin-top: 70px;
}
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



/* ====================
  About Section
=======================*/
.about-section {
	position: relative;
	overflow: hidden;
}
.about-section {
	position: relative;
	overflow: hidden;
}
.about-backgroud {
	background: #A0EEE1;
}
.about-top {
	text-align: center;
}
.about-top h2 {
	font-weight: 300;
	line-height: 1.3em;
}
.about-text h2 {
	font-size: 35px;
	margin-bottom: 30px;
}
.about-text p ins {
	-webkit-text-decoration-style: wavy;
	text-decoration-style: wavy;
}
.about-section .row .col-about {
	position: relative;
	overflow: hidden;
	margin: 100px 100px 100px 100px;
}
.single-progress-item {
	margin-bottom: 35px;
	position: relative;
}
.single-progress-item p {
	font-size: 11px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	letter-spacing: 0;
	margin-bottom: 0px;
	color: #333;
}
.progress-bar-style {
	display: block;
	height: 4px;
	position: relative;
	width: 100%;
	border-radius: 25px;
}
.bar-inner {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 25px;
	background: #333;
}
.bar-inner span {
	position: absolute;
	right: 0;
	font-weight: bold;
	top: -18px;
	font-size: 10px;
	width: 35px;
	height: 35px;
	padding-top: 11px;
	letter-spacing: 0px;
	background: #fff;
	text-align: center;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 10px rgba(45, 45, 45, 0.2);
	        box-shadow: 0 0 10px rgba(45, 45, 45, 0.2);
}



/* ====================
  Timeline Section
=======================*/
.timeline-section {
	background: #4baadd;
}
.wrapper{
	max-width: 100%;
	margin: 50px auto;
	padding: 0 20px;
	position: relative;
}
.wrapper .center-line{
	position: absolute;
	height: 100%;
	width: 4px;
	background: #fff;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
}
.wrapper .row{
	display: flex;
}
.wrapper .row-1{
	justify-content: flex-start;
}
.wrapper .row-2{
	justify-content: flex-end;
}
.wrapper .row section{
	background: #fff;
	border-radius: 5px;
	width: calc(50% - 40px);
	padding: 20px;
	position: relative;
}
.wrapper .row section::before{
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	background: #fff;
	top: 28px;
	z-index: -1;
	transform: rotate(45deg);
}
.row-1 section::before{
	right: -7px;
}
.row-2 section::before{
	left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
	position: absolute;
	background: #f2f2f2;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ff7979;
	font-size: 17px;
	scroll-behavior: smooth;
	box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
	bottom: 0px;
	left: 50%;
	font-size: 25px;
	scroll-behavior: smooth;
	transform: translateX(-50%);
}
.row-1 section .icon{
	top: 15px;
	right: -60px;
}
.row-2 section .icon{
	top: 15px;
	left: -60px;
}
.row section .details,
.row section .bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.row section .details .title{
	font-size: 22px;
	font-weight: 600;
}
.row section p{
	margin: 10px 0 17px 0;
}
.row section .bottom a:hover{
	transform: scale(0.97);
}
@media(max-width: 790px){
	.wrapper .center-line{
		left: 40px;
	}
	.wrapper .row{
		margin: 30px 0 3px 60px;
	}
	.wrapper .row section{
		width: 100%;
	}
	.row-1 section::before{
		left: -7px;
	}
	.row-1 section .icon{
		left: -60px;
	}
}
@media(max-width: 440px){
	.wrapper .center-line,
	.row section::before,
	.row section .icon{
		display: none;
	}
	.wrapper .row{
		margin: 10px 0;
	}
}

/* ====================
  Contact Section
=======================*/
.cont-form {
	margin-top: 60px;
}
.cont-back {
	background: #D6D5B7;
}
html,
.button_wrapper {
	display: inline-flex;
	text-align: center;
}

.button_wrapper .icon {
	position: relative;
	background-color: #ffffff;
	border-radius: 50%;
	padding: 15px;
	margin: 10px;
	width: 50px;
	height: 50px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button_wrapper .tooltip {
	position: absolute;
	top: 0;
	font-size: 14px;
	background-color: #ffffff;
	color: #ffffff;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button_wrapper .tooltip::before {
	position: absolute;
	content: "";
	height: 8px;
	width: 8px;
	background-color: #ffffff;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button_wrapper .icon:hover .tooltip {
	top: -45px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.button_wrapper .icon:hover span,
.button_wrapper .icon:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.button_wrapper .facebook:hover,
.button_wrapper .facebook:hover .tooltip,
.button_wrapper .facebook:hover .tooltip::before {
	background-color: #3b5999;
	color: #ffffff;
}

.button_wrapper .twitter:hover,
.button_wrapper .twitter:hover .tooltip,
.button_wrapper .twitter:hover .tooltip::before {
	background-color: #46c1f6;
	color: #ffffff;
}

.button_wrapper .instagram:hover,
.button_wrapper .instagram:hover .tooltip,
.button_wrapper .instagram:hover .tooltip::before {
	background-color: #e1306c;
	color: #ffffff;
}

.button_wrapper .github:hover,
.button_wrapper .github:hover .tooltip,
.button_wrapper .github:hover .tooltip::before {
	background-color: #333333;
	color: #ffffff;
}

.button_wrapper .youtube:hover,
.button_wrapper .youtube:hover .tooltip,
.button_wrapper .youtube:hover .tooltip::before {
	background-color: #de463b;
	color: #ffffff;
}

.button_wrapper .weibo:hover,
.button_wrapper .weibo:hover .tooltip,
.button_wrapper .weibo:hover .tooltip::before {
	background-color: #d53437;
	color: #ffffff;
}

.button_wrapper .wechat:hover,
.button_wrapper .wechat:hover .tooltip,
.button_wrapper .wechat:hover .tooltip::before {
	background-color: #54ab6e;
	color: #ffffff;
}



/* ====================
  Footer Section
=======================*/
.footer-section {
	position: fixed;
	width: 100%;
	bottom: 0;
	background: url("../img/p-dark.png");
	text-align: center;
	padding: 70px 0;
	z-index: 2;
}
.footer-section .social-links {
	margin-bottom: 25px;
}
.footer-section .social-links a {
	display: inline-table;
	text-align: center;
	height: 35px;
	width: 35px;
	color: #fff;
	margin: 0 5px;
}
.footer-section .social-links a i {
	display: table-cell;
	vertical-align: middle;
}
.footer-section .social-links a.facebook {
	background: #2D5DA1;
}
.footer-section .social-links a.twitter {
	background: #1AB1E5;
}
.footer-section .social-links a.behance {
	background: #2A71F3;
}
.footer-section .social-links a.dribbble {
	background: #DF7EA5;
}
.footer-section p {
	font-size: 14px;
	margin-bottom: 0;
	line-height: normal;
}



/* Responsive
==================================================*/

/* Tablet desktop :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.about-img {
		margin-bottom: 20px;
	}
	.service-item {
		margin-bottom: 30px;
	}
	.skill {
		margin-top: 20px;
	}
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
	.service-item {
		margin-bottom: 30px;
	}
	.resume-item .resume-left {
		text-align: left;
	}
	.header-section {
		padding: 10px 30px;
	}
	.header-section.bgc {
		background: #000;
	}
	.header-section.bgc .logo {
		margin-bottom: 10px;
	}
	.header-section .menu-list {
		display: none;
		float: none;
		clear: both;
		border-top: 1px solid #222;
	}
	.header-section .menu-list li {
		display: inline;
	}
	.header-section .menu-list li a {
		display: block;
		padding: 10px;
	}
	.header-section .menu-list li a:after {
		left: 0%;
	}
	.header-section .menu-list li a:hover:after {
		width: 10px;
		margin-left: 10px;
	}
	.header-section .menu-list .current a:after {
		margin-left: 10px;
	}
	.responsive {
		display: block;
		color: #fff;
		font-size: 34px;
		position: absolute;
		right: 30px;
	}
	.intro-inner .intro-content h2 {
		font-size: 40px;
	}
	.contact-info {
		margin-bottom: 30px;
	}
	.contact-info:last-child {
		margin-bottom: 0;
	}
	.skill {
		margin-top: 20px;
	}
}

/* small mobile :320px. */
@media only screen and (max-width: 479px) {
	.intro-inner .intro-content h2 {
		font-size: 27px;
	}
}